    body {
    margin: 0px;
    padding: 0px;
    }

    a {
    text-decoration-line: none;
    font-family: 'DM Sans', sans-serif;
   }

    main {
    padding: 16px;
    }

    h1 {
        color:darkseagreen;
    }
    h2 {
        color:darkseagreen
    }

    .recipe_items {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-column: 1 / span 4;
        grid-row: 2 / 4
        }

    footer {
    border-top: 24px;
    border-bottom: 24px;
    padding: 15px;
    color:black;
    background: yellowgreen;
    font-size: 120%;
    }

    .stipe td + tr:nth-child(even) {
        background: dimgrey;
    }

    img {
    height: 200px;
    }


    nav {
    border-bottom: 1px solid rgb(123, 37, 6);
    padding: 16px;
    text-indent: 3;
    color: white;
    background:rgb(252, 85, 24);
    }
    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: end;

    }
    a:visited {
    color: pink;
    }
